body {
    background-color: #e0ebe8;
    ;
}

hr {
    background-color: #e0ebe8;
    border-style: dotted none none;
    width: 5%;
    border-color: grey;
    border-width: 5px;
    text-align: center;


}
h1{
    color: #66BFBF;
    

}
